@font-face {
    font-family: 'Floraless';
    src: url('../fonts/Floraless/Floraless.woff2') format('woff2'),
        url('../fonts/Floraless/Floraless.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HoboStd';
    src: url('../fonts/HoboStd/HoboStd.woff2') format('woff2'),
    url('../fonts/HoboStd/HoboStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


