@import "fonts.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 12px Verdana;
}
html{
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a98c6+0,ffffff+49 */
    background: #2a98c6; /* Old browsers */
    background: -moz-linear-gradient(top, #2a98c6 0%, #ffffff 49%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a98c6 0%,#ffffff 49%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a98c6 0%,#ffffff 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a98c6', endColorstr='#ffffff',GradientType=0 );
    background-repeat: no-repeat;/* IE6-9 */
}
body {
    height: 100%;
    background-attachment: fixed;
    margin: 0;
    color: #454545;
}
.wrapper{
    position: relative;
    min-height: 100%;
}

a{
    color:#ffffff  ;
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
ul {
    list-style-type: none;
}

.clear{
    clear: both;
}

.header{
    width: 922px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 204px;
    float: left;
    margin-top: 13px;
    margin-left: 34px;
}

.inner-menu{
    float: right;
    margin-right: 7px;
}
.inner-menu a:hover{
    text-decoration: underline;

}
.inner-menu ul li{
    padding: 13px 11px 4px 10px ;
    float: left;
    font-size: 3px;
    border-right: 1px dotted #ffffff;
}
.inner-menu ul li:last-child{
    border-right: none;
}

.search{
    float: right;
    background: none;
    border: none;
    margin-right: 7px;
    margin-top: 10px;
}

.search span{
    color: #ffffff;
}

.text-field{
    border: 1px solid #9bcfe4;
    padding: 0 5px;
    background-color:rgba(55,158,202,0);
}
.go{
    background: none;
    border: none;
    color: #ffffff;
}

.banner{
    width: 922px;
    margin: 40px auto 0 ;
    position: relative;
}
.banner a:hover{
    text-decoration: none;
}
.banner-menu{
    background: #2a98c6;
    width: 310px;
    height: 258px;
    float: left;
    margin-top: 8px;
}

.orange-bg, .orange-text{
    background: #f09404;
}

.banner-menu ul .orange-bg:hover a{
    display: block;
    background: url("../images/arrow_blue.png") no-repeat 2px 0;
    padding-left: 34px;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .orange-bg:hover .orange-text li a{
    display: block;
    background: none;
    padding-left: 0;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .orange-bg .orange-text:before{
    display: block;
    content:'';
    width: 2px;
    height: 32px ;
    background: #f09404;
    left: -2px;
    top: 0;
    position: absolute;
}

.blue-bg, .blue-text{
    background: #2a98c6;
}

.banner-menu ul .blue-bg:hover a{
    display: block;
    background: url("../images/arrow_yellow.png") no-repeat 2px 0;
    padding-left: 34px;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .blue-bg:hover .blue-text li a{
    display: block;
    background: none;
    padding-left: 0;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .blue-bg .blue-text:before{
    display: block;
    content:'';
    width: 2px;
    height: 32px ;
    background: #2a98c6;
    left: -2px;
    top: 0;
    position: absolute;
}

.yellow-bg, .yellow-text{
    background: #f7cc04;
}

.banner-menu ul .yellow-bg:hover a{
    display: block;
    background: url("../images/arrow_brown.png") no-repeat 2px 0;
    padding-left: 34px;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .yellow-bg:hover .yellow-text li a{
    display: block;
    background: none;
    padding-left: 0;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .yellow-bg .yellow-text:before{
    display: block;
    content:'';
    width: 2px;
    height: 32px ;
    background: #f7cc04;
    left: -2px;
    top: 0;
    position: absolute;
}

.brown-bg, .brown-text{
    background: #61513e;
}

.banner-menu ul .brown-bg:hover a{
    display: block;
    background: url("../images/arrow_pink.png") no-repeat 2px 0;
    padding-left: 34px;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .brown-bg:hover .brown-text li a{
    display: block;
    background: none;
    padding-left: 0;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .brown-bg .brown-text:before{
    display: block;
    content:'';
    width: 2px;
    height: 32px ;
    background: #61513e;
    left: -2px;
    top: 0;
    position: absolute;
}

.pink-bg, .pink-text{
    background: #e352f0;
}

.banner-menu ul .pink-bg:hover a{
    display: block;
    background: url("../images/arrow_green.png") no-repeat 2px 0;
    padding-left: 34px;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .pink-bg:hover .pink-text li a{
    display: block;
    background: none;
    padding-left: 0;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .pink-bg .pink-text:before{
    display: block;
    content:'';
    width: 2px;
    height: 32px ;
    background: #e352f0;
    left: -2px;
    top: 0;
    position: absolute;
}

.green-bg, .green-text{
    background: #89b726;
}

.banner-menu ul .green-bg:hover a{
    display: block;
    background: url("../images/arrow_orange.png") no-repeat 2px 0;
    padding-left: 34px;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .green-bg:hover .green-text li a{
    display: block;
    background: none;
    padding-left: 0;
    text-decoration: none;
    border-bottom: none;
}

.banner-menu ul .green-bg .green-text:before{
    display: block;
    content:'';
    width: 2px;
    height: 32px ;
    background: #89b726;
    left: -2px;
    top: 0;
    position: absolute;
}

.banner-menu ul{
    padding-top: 12px;
}

.banner-menu ul li {
    display: block;
    width: 260px;
    height: 36px;
    border: 2px solid #ffffff;
    margin-left: 14px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 9px;
    margin-top: 3px;
    position: relative;
}

.banner-menu ul li a:hover{
   display: block;
   padding-left: 34px;
}

.banner-menu ul li ul{
    z-index: 999;
    position: absolute; /* Подменю позиционируются абсолютно */
    right: -140px; /* Сдвигаем подменю вправо */
    top: -2px; /* Сдвигаем подменю вверх */
    width: 198px;
    border: 2px solid white;
    padding-top: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out ;
    -o-transition: opacity 0.2s ease-in-out  ;
    -webkit-transition: opacity 0.2s ease-in-out ;
}

.banner-menu ul li:hover ul{

    opacity: 1;
}

.banner-menu ul li ul li{
    display: block;
    height: 27px;
    width: 194px;
    font-size: 18px;
    border: none;
    margin-left: 0;
    padding-left: 14px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.banner-menu ul li ul li a:hover{
    background: none;
    display: block;
    padding-left: 0;
}

.banner-menu ul li:first-child{
    margin-top: 0;
}

.banner-menu ul li a{
    font-size: 19px;
}

.banner-image{
    border: 8px solid #89b726;
    position: absolute;
    right: 4px;
    top: 0;
}

.banner-image img{
    display: block;
}

.banner-image-text{
    position: absolute;
    top: -21px;
    left: -23px;
    font: 48px Floraless;
    color: #f7cc04;
    transform: rotate(-3deg);
    text-shadow: rgb(255, 255, 255) 3px 0 0, rgb(255, 255, 255) 2.83487px 0.981584px 0, rgb(255, 255, 255) 2.35766px 1.85511px 0, rgb(255, 255, 255) 1.62091px 2.52441px 0, rgb(255, 255, 255) 0.705713px 2.91581px 0, rgb(255, 255, 255) -0.287171px 2.98622px 0, rgb(255, 255, 255) -1.24844px 2.72789px 0, rgb(255, 255, 255) -2.07227px 2.16926px 0, rgb(255, 255, 255) -2.66798px 1.37182px 0, rgb(255, 255, 255) -2.96998px 0.42336px 0, rgb(255, 255, 255) -2.94502px -0.571704px 0, rgb(255, 255, 255) -2.59586px -1.50383px 0, rgb(255, 255, 255) -1.96093px -2.27041px 0, rgb(255, 255, 255) -1.11013px -2.78704px 0, rgb(255, 255, 255) -0.137119px -2.99686px 0, rgb(255, 255, 255) 0.850987px -2.87677px 0, rgb(255, 255, 255) 1.74541px -2.43999px 0, rgb(255, 255, 255) 2.44769px -1.73459px 0, rgb(255, 255, 255) 2.88051px -0.838247px 0;
    letter-spacing: 4px;
}

.HoboStd{
    font: 58px "HoboStd";
}

.holder{
    width: 918px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 113px;
    padding-top: 12px;

}

.sidebar{
    width: 294px;
    float: left;
}

.content{
    float: left;
    width: 624px ;
    position: relative;
}
.content-post{
    overflow: hidden;
    margin-left: 2px;
    margin-top: 328px;
}

.orange_h3{
    width: 260px;
    background: #f09404;
    font-size: 17px;
    padding: 12px 10px ;
    border: 2px solid#fff;
    box-shadow: 1px 2px 5px #e2e2e2;
    color: white;
}

.news-events{
    padding-top: 20px;
    padding-left: 12px;
    margin-right: 0px;
    width: 280px;
}

.news a, .contact a{
 font-size: 17px;
}

.news-head{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 260px;
}

.date{
    float: right;
}

.read-more{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 38px ;
}

.read-more a{
    color: #f09404;
}

.sidebar-line{
    height: 8px;
    background: url("../images/Sidebar-line.jpg") no-repeat;
    margin: 10px auto;
}
.sidebar-line-blue{
    height: 8px;
    background: url("../images/Sidebar-line-blue.jpg") no-repeat;
    margin: 10px auto;
}
.contact{
    margin-top: 12px;
    margin-left: 12px;
    overflow: hidden;
    width: 262px;
}

.yellow_h3{
    width: 260px;
    background: #f7cc04;
    font-size: 17px;
    padding: 12px 10px ;
    border: 2px solid#fff;
    box-shadow: 1px 2px 5px #e2e2e2;
    color: white;
}

.news-text{
    margin-left: 8px;
}

.contact-info{
    font-size: 21px;
    color: #f7cc04;
    position: relative;
    display: block;
    margin: 12px 0;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px, #e2e2e2 2px 2px 2px;
}

.contact-margin{
    margin-left: 8px;
    padding-top: 22px;
    background: url("../images/bugs.png") no-repeat 216px 16px; ;
}

.blue_h3 {
    width: 472px;
    background: #2a98c6;
    font-size: 17px;
    padding: 12px 10px;
    margin-bottom: 22px;
    color: white;
    border: 2px solid#fff;
    box-shadow: 1px 2px 5px #e2e2e2;
    color: white;
}
.orange_h3_page_2{
    width: 472px;
    background: #f09404;
    font-size: 17px;
    padding: 12px 10px;
    margin-bottom: 22px;
    color: white;
    border: 2px solid#fff;
    box-shadow: 1px 2px 5px #e2e2e2;
    color: white;
}
.blue_h3_page_2 {
    width: 260px;
    background: #2a98c6;
    font-size: 17px;
    padding: 12px 10px;
    margin-bottom: 12px;
    color: white;
    border: 2px solid#fff;
    box-shadow: 1px 2px 5px #e2e2e2;
    color: white;
}
.content-margin{
    margin-left: 18px;
    text-align: justify;
    width: 558px;
    overflow: hidden;
}
.content-margin p{
    margin-bottom: 10px;
}
.find-more{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 38px ;
    font-size: 13px;
}
.contact-us{
    color: #f09404;
    text-decoration: underline;
}
.find-more a{
    color:#2a98c6 ;

}
.traces{
    position: absolute;
    top: 289px;
    right: 441px;
    z-index: 9999;
}
.traces-sidebar{
    position: absolute;
    bottom: 83px;
    left: 356px;
    z-index: 9999;
}
.content-line{
    height: 16px;
    width: 598px;
    background: url("../images/content-line.jpg") no-repeat;
    margin: 12px auto 0 auto;
}

.content-line-green{
    height: 16px;
    width: 598px;
    background: url("../images/content-line-green.jpg") no-repeat;
    margin: 16px 16px;
}
.content-line-orange{
    height: 16px;
    width: 598px;
    background: url("../images/content-line-orange.jpg") no-repeat;
    margin: 16px 16px;
}
.content-image{
    width: 625px;
    margin-top: 21px;
    overflow: hidden;
}

.daycamps p, .school p, .nurseries p{
    margin: 14px 0 0 0;
}

.daycamps{
    width: 200px;
    float: left;
    margin-top: 15px;
    margin-left: 7px;
    position: relative;

}

.daycamps-image{
    border: 5px solid #2a98c6;
}
.daycamps-image_page_2{
    border: 5px solid #2a98c6;
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
}
.daycamps-img-text{
    position: absolute;
    left: -4px;
    top: -34px;
    font: 25px Floraless;
    color: #e99004;
    transform: rotate(-3deg);
    text-shadow: rgb(255, 255, 255) 2.5px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    letter-spacing: 2px;
}
.content-hobo{
    font: 28px HoboStd;
}
.school{
    width: 200px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
    position: relative;

}

.school-image{
    border: 5px solid #e99004;
}

.school-img-text{
    position: absolute;
    left: -4px;
    top: -33px;
    font: 25px Floraless;
    color: #89b726;
    transform: rotate(-3deg);
    text-shadow: rgb(255, 255, 255) 2.5px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    letter-spacing: 2px;
}
.gallery-img-text{
    position: relative;
    font: 25px Floraless;
    color: #89b726;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px, #e2e2e2 3px 3px 2px;

}
.calendar-text{
    font: 25px Floraless;
    color: #f7cc04;
    text-shadow: rgb(255, 255, 255) 2.5px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px, #e2e2e2 3px 3px 2px;
    letter-spacing: 2px;
}

.nurseries{
    width: 200px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
    position: relative;
}

.nurseries-image{
    border: 5px solid #89b726;
}

.nurseries-img-text{
    position: absolute;
    left: -1px;
    top: -33px;
    font: 25px Floraless;
    color: #2a98c6;
    transform: rotate(-3deg);
    text-shadow: rgb(255, 255, 255) 2.5px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    letter-spacing: 2px;
}
.go-orange-content{
    font: 25px Floraless;
    color: #e99004;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px, #e2e2e2 3px 3px 2px;
    letter-spacing: 2px;
}
.go-orange-content:after{
    display: block;
    content: '';
    background: url("../images/arrow_orange.png") no-repeat;
    position: absolute;
    right: 132px;
    bottom: 2px;
    height: 26px;
    width: 29px;
}
.go-green-content{
    font: 25px Floraless;
    color: #89b726;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px, #e2e2e2 3px 3px 2px;
    letter-spacing: 2px;
}
.go-green-content:after{
    display: block;
    content: '';
    background: url("../images/arrow_green.png") no-repeat;
    position: absolute;
    right: 132px;
    bottom: 2px;
    height: 26px;
    width: 29px;
}
.go-blue-content{
    font: 25px Floraless;
    color: #2a98c6;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px, #e2e2e2 3px 3px 2px;
    letter-spacing: 2px;
}
.go-blue-content:after{
    display: block;
    content: '';
    background: url("../images/arrow_blue.png") no-repeat;
    position: absolute;
    right: 132px;
    bottom: 2px;
    height: 26px;
    width: 29px;
}
.view-content, .view-content-page-2{
    font: 25px Floraless;
    color: #89b726;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px, #e2e2e2 3px 3px 2px;
    letter-spacing: 2px;
}

.view-content-page-2:after{
    display: block;
    content: '';
    width: 44px;
    height: 24px;
    background: url('../images/arrow_green.png') no-repeat;
    position: absolute;
    top: 54px;
    right: 180px;
}
.view-content:after{
    display: block;
    content: '';
    width: 44px;
    height: 24px;
    background: url('../images/arrow_green.png') no-repeat;
    position: absolute;
    bottom: 6px;
    left: 78px;
}
.arrow{
    padding-top: 0;
    position: absolute;
    left: 36px;
    bottom: 3px;
}
.arrow-view{
    padding-top: 0;
    position: absolute;
    left: 80px;
    bottom: 4px;
}
.go-content{
    text-decoration: none;
}

.gallery{
    float: left;
    position: relative;
    width: 288px;
    margin-bottom: 100px;
    padding-bottom: 0;
    overflow: hidden;
}
.gallery_page_2{
    float: left;
    position: relative;
    width: 288px;
    margin-bottom: 100px;
    padding-bottom: 0;

}
.gallery-view{
    float: right;
    width: 324px;
    position: relative;
    margin-top: 60px;
}

.gallery-view-page-2{
    float: right;
    width: 324px;
    position: relative;
    margin-top: 60px;
    padding-left: 22px
}
.gallery img{
    display: block;
}

.gallery p{
    margin-top: 40px;
}
.gallery p:first-child{
    margin-top: 0;
}
.gallery a{
    display: block;
    width: 94px;
    margin-top: 10px;
}

.gallery-img1{
    border: 4px solid #2a98c6;
    z-index: 9999;
    position: absolute;
    top: 48px;
    left: 0;
}

.gallery-img2{
    border: 4px solid #e99004;
    position: relative;
    top: 25px;
    left: 130px;
    z-index: 888;
}

.event-calendar{
    float: right;
    width: 250px;
}
.event-calendar p{
    margin: 16px auto;
}
.event-calendar p:first-child{
    margin: 0 auto;
}
.calendar{
    width: 248px;
    margin-top: 10px;
}

td{
    text-align: center;
}
th{
    font-weight: bold;
}

tr,th{
    height: 20px;
}

.footer{
    height: 113px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url("../images/footer_line.png") repeat-x #89b726 0 5px;
}

.footer p{
    color: #ffffff;
    margin-top: 10px;
    line-height: 13.5px;
    font-size: 11px;
}

.footer p:first-child{
    margin-top: 0;
    font-size: 12px;
}

.footer p span{
    border-left: 1px solid #ffffff;
    padding-left: 3px;
}

.footer-content{
    width: 922px;
    margin: 33px auto 0 ;
    position: relative;
    background: url("../images/bugs_footer.png") no-repeat 721px 15px;
}

.cleaver{
    position: absolute;
    top: -77px;
    right: -50px;
}
.other_nurseries{
    margin-left: 12px;
}
.other_nurseries a{
    color: #747674;
    font:  16px Verdana;
}
.other_nurseries li{
    margin-top: 6px;
}
.other_nurseries li ul{
    margin-left: 38px;
    margin-top: 6px;
}